<% provide(:title, "About") %>

<p>Find me in app/views/static_pages/about.html.erb</p>

<h1>Hacker Academy</h1>

<p>
  Hacker Academy (HA) is a student-run club at the University of Toronto. We strive to provide an environment in which students can develop and engage their interests in technological developments, programming, and the role of technology, particularly software, in our lives and society at large. We live by the hacker culture, which is all about promoting and practicing cleverness and creativity, having an inquisitive attitude, sharing knowledge, and hands-on learning. 
</p>

<p class="quotation">
  “A hacker is someone who enjoys creatively overcoming intellectual challenges in technology.”
</p>

<p class="quotation">
  “To hackers, hacking is a hobby, a form of exploration – but it also entails some form of excellence, for example exploring the limits of what is possible – thereby doing something exciting and meaningful.”
</p>

<h1>Events</h1>

<h2>
  NETtalks - News, Engineering, Technology
</h2>
<p>
  In order to broaden our students' knowledge outside the classroom we host a series of NETtalks, which are weekly presentations on any topic relevant to HA. We showcase industry trends, cool projects, and other interesting topics to engage and inspire students. Previous topics have included Machine Learning and Data Mining, Terminal Usage, Computer Cooling, Overclocking, Version Control, iOS Development, Ruby on Rails, Game Development, Agile. For a more extensive list, past topics can be found at http://www.hackeracademy.org/schedule. 
</p>
<p>
We encourage anyone to come and do a talk, including club members, students, faculty, club alumni, and industry members, so that students may be exposed to a variety of interesting topics.  Our signup sheet for the 2015-2016 year will be released within the next few months. 
</p>

<h2> 
  DevDojo Programming Competitions
</h2>
<p>
We also host programming competitions a few times per semester to promote interest in coding. Typically, they consist of general programming questions such as maze traversal, string parsing, and the like. Occasionally, they are more unique; for example, a Scalatron battle.
</p>
<h2>
C3 Hackathon
</h2>
<p>
Our largest event to date has been an annual Code, Collaborate, Create (C3) Hackathon. It is a weekend-long development event, organized in the same manner as the many popular Hackathons hosted across multiple universities every year. We are currently seeking partnership for the 2015-2016 Hackathon. 
</p>

<h1>Sponsors</h1>

<h1>The Team</h1>

<!-- To do: 
  Add is_exec and is_team_member to User model
  Add ERB logic to display all executive users and all team members
-->

<h1>Contact</h1>

<p>
  For all inquiries, please reach us at info@hackeracademy.org
</p>

