<h2 class=red-header>
  Welcome Hacker Academy Sponsors!
</h2>
<p>
  Our website will deploy to the public on Wednesday, August 26, 2015. In the meantime, we are running in sponsor-mode. Please feel free to take a look around!
</p>
<h2 class=red-header>
  Sponsor Events
</h2>
<p>
  We are currently accepting sponsor events only. If you would like to have an event, please check out the <%= link_to "Event Schedule", events_path %></li>, and email us with a time that works for you. Typically, our NETtalks run 8:00-9:00 pm every Tuesday. This is the most convenient time to do a presentation. Programming competitions and similar events are held on the weekend. 
</p>
<h2 class=red-header>
  Sponsor Accounts
</h2>
<p>
  Sponsors are able to make their own accounts on our website, and we highly encourage that you do so. While the website is in sponsor-mode, there is no email-verification. Your email address is only associated with your gravatar (icon). Creating your own account would let you upload your own icon and write your own description. It is also possible that functionality that is restricted to account holders may be introduced later. If you choose not to create an account, one will be made for you on Sunday, August 30, 2015, but only Hacker Academy executives will have access to it. 
</p>
<br>
<p>
  Thank you once again for working with us! We're looking forward to a great year!
</p>
<p>
  Sincerely,
</p>
<% @users = User.all %>
<ul class="users">
  <% @users.each do |user| %>
    <% if user.exec %>
      <li>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.name, user %>
        <h6>
            Hacker Academy Executive
        </h6>
        </li>
    <% end %>
  <% end %>
</ul>
