<h2 class=red-header>
  Welcome to Hacker Academy!
</h2>
<p>
  We're a group of students who are passionate about tech and software. We live by the hacker culture, which is all about promoting and practicing cleverness and creativity, having an inquisitive attitude, sharing knowledge, and hands-on learning. 
</p>
<h2 class=red-header>
  What We Offer
</h2>
<!-- The links are to higher elements on the about page for more visibility on the topic of interest -->
<p>
  <a href="/about#NETtalks"> NETtalks </a> - Weekly talks on cool topics, new developments, and ways that technology affects our lives. 
</p>
<p>
  <a href="/about#Programming_Competitions"> Programming Competitions </a> - Chances to crack your knuckles and rock some programming problems. 
</p>
<p>
  <a href="/about#Hackathon"> Hackathon </a> - 24 hours+ of code-y goodness. 
</p>
<h2 class=red-header>
  Website Features
</h2>
<p>
  <%= link_to "Event Schedule", events_path %> - An easy-to-read calendar so that you can stay informed about our events. 
</p> 
<p>
  <%= link_to "Achievements", achievements_path %> - For attending events and doing some other awesome stuff. You manage your own achievements, when you've earned them. 
</p>
<p>
  <a href="/users/1">User Profiles</a> - Customize your profile with a gravatar and your own blurb. 
</p>

<% if !logged_in? %>
<h2 class=red-header>
  Create an Account
</h2>
<p>
  Well, what are you waiting for?!
</p>

<%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>