<% provide(:title, "Links") %>

<h2 class="red-header">NETtalks</h2>

<h4>NETtalk #7 - Intro to Bash Scripting</h4>

<a href="NETtalks/INSTRUCTIONS.txt">INSTRUCTIONS.txt</a>

<h2 class="red-header">Challenges</h2>

<h4>Challenge #5 -  HA Web Dev Challenge Part 1 - The Basics</h4>

<a href="Challenges/HA Web Dev Challenge Part 1 - The Basics.html">HA Web Dev Challenge Part 1 - The Basics.html</a>


<!-- Space buffer for the footer -->
<% 30.times do %>
<br>
<% end %>