<% provide(:title, "Links") %>

<h2 class="red-header">NETtalks</h2>

<h4>NETtalk #7 - Intro to Bash Scripting</h4>

<a href="NETtalks/INSTRUCTIONS.txt">INSTRUCTIONS.txt</a>


<!-- Space buffer for the footer -->
<% 30.times do %>
<br>
<% end %>