<% provide(:title, 'Members') %>

<% if logged_in? && current_user.site_admin?%>
    <p>
      Download emails:
      <%= link_to "CSV", users_path(format: "csv") %> |
      <%= link_to "Excel", users_path(format: "xls") %>
    </p>
<% end %>

<ul class="users">
  <%= render @users %>
</ul>

<!-- Space buffer for the footer -->
<% 25.times do %>
<br>
<% end %>