<li>
  <%= link_to event.name, event %>
   | Day: <%= event.date %>
   | Start: <%= event.start_time.localtime.strftime("%I:%M %P %Z") %> 
   | End: <%= event.finish_time.localtime.strftime("%I:%M  %P %Z") %>
</li>