<% provide(:title, 'Event Schedule') %>

<% if logged_in? && (current_user.sponsor? || current_user.site_admin?) %>
  <%= link_to 'Create a New Event', 'events/new' %>
<% end %>

<ul>
  <%= render @events %>
</ul>

<!-- <div id="calendar"></div> -->

