@import "bootstrap-sprockets";
@import "bootstrap";

/* color definitions */
  $deep-red: #cc0000;
  $dark-red: #aa0000;
  $gray-medium-light: #eaeaea;

/* mixins */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* force font download */

@font-face {
  font-family: 'miso';
  src:  font-url('miso-webfont.eot');
  src:  local('miso'),
        font-url('miso-webfont.eot?#iefix') format("embedded-opentype"),
        font-url('miso-webfont.woff') format("woff"),
        font-url('miso-webfont.ttf') format("truetype"),
        font-url('miso-webfont.svg#miso') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global styling */
body {
  padding-top: 7em;
}

/* typography */

h1 {
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
}

.red-header {
  color: $dark-red;
}

p {
  font-size: 1.4em;
}

.quotation {
  color: #555555;
  text-align: center;
  font-style: italic;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.4em;
  font-family: 'miso', sans-serif;
  color: $deep-red;
  border-color: #555555;
  letter-spacing: -1px;
  padding-top: 3px;
  padding-bottom: 5px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $dark-red;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 60px;
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
  background: #222222;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $deep-red;
    &:hover {
      color: $dark-red;
      text-decoration: none;
    }
  }
  small {

  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* navbar */

.navbar a {
  margin-top: 5px !important;
  margin-bottom: 2px !important;
  padding-bottom: 0px !important;
  &:hover {
    color: $dark-red !important;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.invisible{
  display: none;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.signup {
  width: 5% !important;
}

.btn {
  background-color: $deep-red !important;
  border-color: $dark-red !important;
  &:hover {
    background-color: $dark-red !important;
  }
}

.time_select {
  float: left;
  margin-right: 5px; 
  display: inline; 
  width: 30%;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* users */

aside {
  section.user_info {

  }
  section {
    padding: 0 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user_profile_headers {
  margin-top: 1.5em;
  clear: both;
  color: $dark-red;
}

.achievement_header {
  margin-top: 1.5em;
  clear: both;
  font-size: 1.2em;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* development debug info */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* events index */
.event-list { 
  list-style: none;
}

.achievement-warning {
  bottom: 0;
  position: absolute;
}

/* misc */

.centered-image {
  clear: both;
  text-align: center;
}

.basic-list {
  list-style: none;
  padding-left: 0;
}

/*slideshow*/

.slide-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

img {
  border: 0;
  height: 640px;
  width: 960px;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: red;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
}