<% provide(:title, 'Achievements') %>

<% if logged_in? && (current_user.site_admin?) %>
  <%= link_to 'Create a New Achievement', 'achievements/new' %>
<% end %>

<% @new_achievements, @past_achievements = @achievements.partition {|achievement| achievement.updated_at > "2016-09-01 00:36:24 +0000".to_date} %>

<h2 class="red-header">Achievements 2016</h2>
<ul>
  <%= render @new_achievements %>
</ul>

<h2 class="red-header">Legacy achievements</h2>
<ul>
  <%= render @past_achievements %>
</ul>
<br>

<h6>
  Achievements are managed as an honour system. Please only claim achievements that you have earned. 
  Abusing this will result in the closing of your account. <b>However, we added password protection to the achievements just in case :)</b>
</h6>

<!-- Space buffer for the footer -->
<% 19.times do %>
<br>
<% end %>