<footer>
  <div class="fbwrappper" style="overflow:hidden;height: 230px; width: 340px; margin: auto;">
    <iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FHacker-Academy%2F233826676647237&amp;width=340&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=258" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:340px; height:258px; background: #171717;" allowTransparency="true">
    </iframe>
  </div>
  <!-- <small>
    Hacker Academy | Contribute at 
    <a href="https://github.com/HA2015/hacker-academy">Our GitHub Repo</a>
  <small> -->
</footer>